
%h1 The 500px account you tried to log in with is not an administrator.

%p Currently the 500px Table Tennis Tournament is open to 500px employees only.

%p If you are a 500px employee, you may have been logged in to 500px.com with the wrong user.

%p Visit 500px.com and verifiy that you are logged in to your 500px administrative account.

