
.row
  .col-md-12
    %h1 HEAVEN OR HELL

.row
  .col-md-12
    = form_tag '/games/new2', method: 'get' do |f|
      .form-group
        = current_user.name
      .form-group
        vs
      .form-group
        = select_tag :player2_id, options_for_select((Player.all.order(:name).to_a - [current_user]).map { |p| [p.name, p.id] })

      .form-group
        = submit_tag "Lets Rock", class: 'btn btn-default btn-primary'
