
table.table
  tr.admin th
    background: #222222
    color: #fff
  tr.awesome th
    background: #0099e5
    color: #fff
  tr.plus th
    background: #34bf49
    color: #fff
  tr.free th
    background: #b9c1c7
    color: #000
  tr.ambassadors th
    background: #ffd200
    color: #000

  td.game-score > form > div, td.game-score > div
    display: inline-block
    text-align: center
    input[type=text]
      text-align: center
      width: 3em
  .icon
    width: 32px
  .me
    text-align: right
    padding-right: 10px
  .them
    padding-left: 10px
    text-align: left
  .dash
    width: 2em
    text-align: center
  .save
    width: 5em
  .me, .them, .dash, .score
    line-height: 2.1

  .me, .them
    &.winner
      font-weight: bold

