
%nav.navbar.navbar-default
  %ul.nav.navbar-nav
    %li
      %a(href="/") Home
    %li
      = link_to 'Current Round', Round.find_or_build_current_round

  - if current_user
    %ul.nav.navbar-nav.pull-right
      %li
        %a(href="/logout") Logout #{current_user.name}


